In [ ]:
# pip install --use-pep517 alexandria3k

In [2]:
from alexandria3k.data_sources import uspto

In [3]:
uspto_directory = "C:/Users/edgar/OneDrive/Bureau/Ecole/HEC/A24/BrevetNLP/citations_data/patentsView"

In [18]:
# uspto.Uspto(uspto_directory=uspto_directory)

In [4]:
# uspto.Uspto(uspto_directory=uspto_directory).download(data_location=uspto_directory)

In [5]:
uspto_data = uspto.Uspto(uspto_directory)

In [11]:
from tqdm import tqdm

In [6]:
database_path = "uspto_data.db"
uspto_data.populate(database_path, columns=["usp_citations.*"], )

In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(database_path)
cursor = conn.cursor()

query = """
SELECT
    patent_id, patcit_doc_number, patcit_country, patcit_kind, patcit_date, category
FROM usp_citations
"""

# query = """
# SELECT
#     patent_id, patcit_doc_number, patcit_country, patcit_kind, patcit_date, category,
#     date_published
# FROM usp_citations
# JOIN us_patents ON usp_citations.patent_id = us_patents.id;
# """

# Execute the query
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Get the column names (this can be useful for the DataFrame)
columns = [description[0] for description in cursor.description]

# Create a DataFrame from the results
df = pd.DataFrame(results, columns=columns)

# Close the database connection
conn.close()

# Now you can work with the DataFrame (df)
print(df.head())  # Print the first few rows of the DataFrame

   patent_id patcit_doc_number patcit_country patcit_kind patcit_date  \
0          0            D11495             US           S    18791100
1          0            D50715             US           S    19170500
2          0            D74119             US           S    19271200
3          0           D119611             US           S    19400300
4          0           3140954             US           A    19640700

            category
0     cited by other
1     cited by other
2  cited by examiner
3  cited by examiner
4     cited by other

In [12]:
df["patcit_date"]

0         18791100
1         19170500
2         19271200
3         19400300
4         19640700
            ...
196060    20070300
196061    20070400
196062    19881100
196063    20020500
196064        None
Name: patcit_date, Length: 196065, dtype: object

In [10]:
conn = sqlite3.connect(database_path)  # Replace with your database path

# Create a cursor object
cursor = conn.cursor()

# Query to retrieve all table names
query = """
SELECT name FROM sqlite_master WHERE type='table';
"""

# Execute the query
cursor.execute(query)

# Fetch all the results (table names)
tables = cursor.fetchall()

# Print the table names
for table in tables:
    print(table[0])  # Each row is a tuple, so we access the first element (table name)
    
# Close the connection
conn.close()

usp_citations
us_patents

In [14]:
database_path = "uspto_data.db"

# Define the condition for the JOIN operation
condition = """
usp_citations.patent_id = us_patents.id
"""

# Define the columns you want to populate
columns = ["usp_citations.*", "us_patents.*"]

# Call the populate function
uspto_data.populate(database_path, columns=columns, condition=condition)

In [15]:
import sqlite3
import pandas as pd

conn = sqlite3.connect(database_path)
cursor = conn.cursor()

# query = """
# SELECT
#     patent_id, patcit_doc_number, patcit_country, patcit_kind, patcit_date, category
# FROM usp_citations
# """

query = """
SELECT
    patent_id, date_published patcit_doc_number, patcit_country, patcit_kind, patcit_date, category,
    date_published
FROM usp_citations
JOIN us_patents ON usp_citations.patent_id = us_patents.id;
"""

# Execute the query
cursor.execute(query)

# Fetch the results
results = cursor.fetchall()

# Get the column names (this can be useful for the DataFrame)
columns = [description[0] for description in cursor.description]

# Create a DataFrame from the results
df = pd.DataFrame(results, columns=columns)

# Close the database connection
conn.close()

# Now you can work with the DataFrame (df)
print(df.head())  # Print the first few rows of the DataFrame

   patent_id patcit_doc_number patcit_country patcit_kind patcit_date  \
0          0          20120103             US           S    18791100
1          0          20120103             US           S    19170500
2          0          20120103             US           S    19271200
3          0          20120103             US           S    19400300
4          0          20120103             US           A    19640700

            category date_published
0     cited by other       20120103
1     cited by other       20120103
2  cited by examiner       20120103
3  cited by examiner       20120103
4     cited by other       20120103

In [17]:
df

,patent_id,patcit_doc_number,patcit_country,patcit_kind,patcit_date,category,date_published
0,0,20120103,US,S,18791100,cited by other,20120103
1,0,20120103,US,S,19170500,cited by other,20120103
2,0,20120103,US,S,19271200,cited by examiner,20120103
3,0,20120103,US,S,19400300,cited by examiner,20120103
4,0,20120103,US,A,19640700,cited by other,20120103
...,...,...,...,...,...,...,...
11733475,277283,20121225,JP,A,20010400,cited by other,20121225
11733476,277283,20121225,JP,A,20051000,cited by other,20121225
11733477,277283,20121225,None,None,None,cited by other,20121225
11733478,277283,20121225,None,None,None,cited by other,20121225
11733479,277283,20121225,None,None,None,cited by other,20121225

:

In [16]:
df.shape

(11733480, 7)

In [43]:
df

,patcit_doc_number,patcit_country,patcit_kind,patcit_date,category
0,D11495,US,S,18791100,cited by other
1,D50715,US,S,19170500,cited by other
2,D74119,US,S,19271200,cited by examiner
3,D119611,US,S,19400300,cited by examiner
4,3140954,US,A,19640700,cited by other
...,...,...,...,...,...
11733475,2001-108601,JP,A,20010400,cited by other
11733476,2005-283538,JP,A,20051000,cited by other
11733477,None,None,None,None,cited by other
11733478,None,None,None,None,cited by other
11733479,None,None,None,None,cited by other

In [23]:
query = """
SELECT
    patent_id, patcit_doc_number, patcit_country, patcit_kind, patcit_date, category
FROM usp_citations
"""
i=0
for row in tqdm(uspto_data.query(query)):
    print(row)

0it [00:00, ?it/s]

ValueError: not enough values to unpack (expected 1, got 0)

In [38]:
query = """
SELECT
    patent_id, patcit_doc_number, patcit_country, patcit_kind, patcit_date, category
FROM usp_citations
"""
i=0
for row in tqdm(uspto_data.query(query)):
    print(row)

0it [00:00, ?it/s]

ConnectionClosedError: The connection has been closed