In [2]:
import pandas as pd
import os
import pandas as pd
from os import listdir
from os.path import isfile, join
import json
import collections
import re
from tqdm import tqdm
import tarfile 
import time
from collections import Counter

# Importation infos patents

In [3]:
pathData = "C:/Users/edgar/OneDrive/Bureau/Ecole/HEC/A24/BrevetNLP/data/"
pathYear = pathData + f"/2016/"  # Updates with variable year
jsonNamesYear = [f for f in listdir(pathYear) if isfile(join(pathYear, f))] 
# jsonNamesYear
listYear = range(2006, 2017)

In [4]:
listYear = range(2006, 2017)
citations_Year = {ipc: {
    'application_number': [], 'patent_number': [], 'publication_number': [], 'main_ipc': [], 'decision': []
} for ipc in listYear}

for year in tqdm(listYear):
    pathYear = pathData + f"/{year}/"  # Updates with variable year
    jsonNamesYear = [f for f in listdir(pathYear) if isfile(join(pathYear, f))] 

    # Total number of JSON files
    total_files = len(jsonNamesYear)

    # Creates a list of patents for each IPC class with batch-size tqdm
    for j in tqdm(range(0, total_files)):
        patent_path = pathYear + jsonNamesYear[j]
        if os.path.exists(patent_path) and os.path.getsize(patent_path) > 0:
            with open(patent_path) as f:
                try:
                    d = json.load(f)  # Load JSON into d
                except json.JSONDecodeError:
                    continue
        else:
            print("File does not exist or is empty:", patent_path)
    
        # Creating the lists for the other information
        citations_Year[year]['application_number'].append(d['application_number'])
        citations_Year[year]['patent_number'].append(d['patent_number'])
        citations_Year[year]['publication_number'].append(d['publication_number'])
        citations_Year[year]['main_ipc'].append(d['main_ipcr_label'])
        citations_Year[year]['decision'].append(d['decision'])

100%|██████████| 1000/1000 [00:17<00:00, 57.49it/s]
 32%|███▏      | 316/1000 [00:05<00:11, 57.32it/s]
  9%|▉         | 1/11 [00:23<03:53, 23.32s/it]

KeyboardInterrupt:

# Granted patent

In [30]:
filename = "C:/Users/edgar/OneDrive/Bureau/Ecole/HEC/A24/BrevetNLP/citations_data/data/g_us_patent_citation.tsv"

### patent_id

In [31]:
# Load only the first column (assuming column 0) without loading the full data
df = pd.read_csv(filename, sep='\t', usecols=[0])

C:\Users\edgar\AppData\Local\Temp\ipykernel_14440\1776422390.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, sep='\t', usecols=[0])

In [32]:
patent_ids = set(df['patent_id'].astype(str))

In [33]:
# Initialize an empty dictionary to hold DataFrames
df_year = {}

# Iterate over the dictionary and create a DataFrame for each year
for year, data in citations_Year.items():
    # Create a DataFrame for the current year
    df_year[year] = pd.DataFrame(data)

In [34]:
df_year[2006]

,application_number,patent_number,publication_number,main_ipc,decision
0,10513493,7648709,US20060110435A1-20060525,A61K39095,ACCEPTED
1,10520174,8138892,US20090219137A1-20090903,H04Q522,ACCEPTED
2,10526092,8139623,US20060099980A1-20060511,H04B700,ACCEPTED
3,10529231,7640195,US20060178956A1-20060810,G07F1900,ACCEPTED
4,10532323,7558262,US20060268873A1-20061130,H04L1256,ACCEPTED
...,...,...,...,...,...
995,11647147,7564254,US20080088333A1-20080417,G01R3126,ACCEPTED
996,11647274,8966270,US20080159299A1-20080703,H04L1256,ACCEPTED
997,11647383,None,US20080064277A1-20080313,B32B502,REJECTED
998,11648421,None,US20080157335A1-20080703,H01L2352,REJECTED
999,12157616,7818661,US20090282324A1-20091112,G06F1720,ACCEPTED

In [35]:
# Check if each 'patent_number' in df1 is in the set of patent_ids
for year in listYear:
    df_year[year]['is_in_patent_id'] = df_year[year]['patent_number'].apply(lambda x: x in patent_ids)

In [36]:
df_year[2006]

,application_number,patent_number,publication_number,main_ipc,decision,is_in_patent_id
0,10513493,7648709,US20060110435A1-20060525,A61K39095,ACCEPTED,False
1,10520174,8138892,US20090219137A1-20090903,H04Q522,ACCEPTED,True
2,10526092,8139623,US20060099980A1-20060511,H04B700,ACCEPTED,True
3,10529231,7640195,US20060178956A1-20060810,G07F1900,ACCEPTED,True
4,10532323,7558262,US20060268873A1-20061130,H04L1256,ACCEPTED,True
...,...,...,...,...,...,...
995,11647147,7564254,US20080088333A1-20080417,G01R3126,ACCEPTED,True
996,11647274,8966270,US20080159299A1-20080703,H04L1256,ACCEPTED,True
997,11647383,None,US20080064277A1-20080313,B32B502,REJECTED,False
998,11648421,None,US20080157335A1-20080703,H01L2352,REJECTED,False
999,12157616,7818661,US20090282324A1-20091112,G06F1720,ACCEPTED,True

In [37]:
# Initialize a dictionary to hold the results
results = {}

# Process each year
for year in listYear:
    total_count = len(df_year[year])  # Total number of records for the year
    
    # Count occurrences of `is_in_patent_id` and `decision`
    is_in_patent_id_counter = Counter(df_year[year].is_in_patent_id)
    decision_counter = Counter(df_year[year].decision)
    is_in_patent_id_counter_ACCEPTED = Counter(df_year[year].is_in_patent_id[df_year[year].decision=="ACCEPTED"])

    # Calculate percentages for is_in_patent_id
    accepted_count = decision_counter.get("ACCEPTED", 0)
    not_accepted_count = total_count - accepted_count

    results[year] = {
        'in__CitationSource': is_in_patent_id_counter.get(True, 0),
        'not_in_CitationSource': is_in_patent_id_counter.get(False, 0),
        'in__CitationSource_percent': is_in_patent_id_counter.get(True, 0) / total_count * 100,

        'in__CitationSource_ACCEPTED': is_in_patent_id_counter_ACCEPTED.get(True, 0),
        'not_in__CitationSource_ACCEPTED': is_in_patent_id_counter_ACCEPTED.get(False, 0),
        'not_in__CitationSource_percent_ACCEPTED': is_in_patent_id_counter_ACCEPTED.get(True, 0) / (is_in_patent_id_counter_ACCEPTED.get(True, 0)+is_in_patent_id_counter_ACCEPTED.get(False, 0)) * 100,

        # 'is_in_patent_id_False_percent': is_in_patent_id_counter.get(False, 0) / total_count * 100,

        'accepted_count': accepted_count,
        'rejected_count': decision_counter.get("REJECTED", 0),
        # 'rejected_percent': decision_counter.get("REJECTED", 0) / total_count * 100,
        'pending_count': decision_counter.get("PENDING", 0),
        # 'pending_percent': decision_counter.get("PENDING", 0) / total_count * 100,
        'accepted_percent': accepted_count / total_count * 100,
    }

# Convert the results dictionary into a DataFrame
results_df = pd.DataFrame.from_dict(results, orient='index')

# Optional: Reset index for better formatting
results_df.reset_index(inplace=True)
results_df.rename(columns={'index': 'Year'}, inplace=True)

# Display the results DataFrame
results_df

,Year,in__CitationSource,not_in_CitationSource,in__CitationSource_percent,in__CitationSource_ACCEPTED,not_in__CitationSource_ACCEPTED,not_in__CitationSource_percent_ACCEPTED,accepted_count,rejected_count,pending_count,accepted_percent
0,2006,590,410,59.0,590,26,95.779221,616,381,3,61.6
1,2007,583,417,58.3,583,25,95.888158,608,387,5,60.8
2,2008,598,402,59.8,598,48,92.569659,646,348,6,64.6
3,2009,619,381,61.9,619,49,92.664671,668,327,5,66.8
4,2010,622,378,62.2,622,41,93.815988,663,322,15,66.3
5,2011,650,350,65.0,650,46,93.390805,696,284,20,69.6
6,2012,588,412,58.8,588,75,88.687783,663,302,35,66.3
7,2013,602,398,60.2,602,81,88.140556,683,271,46,68.3
8,2014,530,470,53.0,530,67,88.777219,597,261,142,59.7
9,2015,472,528,47.2,472,85,84.739677,557,162,281,55.7
10,2016,244,756,24.4,244,45,84.429066,289,57,654,28.9

### Citation patent id

In [12]:
df = pd.read_csv(filename, sep='\t', usecols=[2])

In [13]:
citation_patent_ids = set(df['citation_patent_id'].astype(str))

In [14]:
citation_patent_ids

{'7371623',
 '9764161',
 '10392566',
 '8719503',
 '3284678',
 '2808284',
 '4691651',
 '2003/0082022',
 '5348231',
 '8013229',
 '3428680',
 '5700716',
 '1142072',
 '1826454',
 '6295186',
 '7952233',
 '11473246',
 '3582398',
 'D696178',
 '2856550',
 '10859238',
 'D325165',
 'D861726',
 '6011681',
 '8185533',
 '7613758',
 '9449627',
 '4875213',
 'RE36122',
 '2571245',
 'D1018578',
 '4181113',
 '7909507',
 '5295614',
 '2921202',
 '2415933',
 '1899591',
 '10374632',
 '3419222',
 '9499649',
 '1889813',
 'D214456',
 '2136234',
 '8911424',
 '2563845',
 '8250363',
 '5242339',
 '1070387',
 '3958043',
 '10829894',
 '1677393',
 '3402861',
 '3154337',
 '7200933',
 '4121196',
 'RE32342',
 'D244286',
 'D778388',
 '4594982',
 '7934557',
 '8732660',
 '6734851',
 '9049521',
 '998952',
 '7596633',
 'D480176',
 'D445141',
 'D537232',
 '9090486',
 '4948437',
 '2582541',
 '11281969',
 '8241943',
 '5651522',
 '7860115',
 '7215381',
 '10713819',
 'D894899',
 '6646504',
 '8601822',
 '5054971',
 '3692651',
 '3138263',
 'D619816',
 '10723602',
 'D904005',
 'D186225',
 '8501452',
 '4138290',
 '7276561',
 '7969219',
 '1857311',
 'D256930',
 '3603089',
 '5248137',
 '4250098',
 '3867625',
 'D376506',
 '6468573',
 '4850895',
 '1538079',
 '2427130',
 '4882856',
 '6712471',
 '3358131',
 '3349696',
 '3351979',
 '5060646',
 '2920368',
 '3888585',
 '2480199',
 '6432458',
 '2670218',
 '9243336',
 '7798083',
 '3397328',
 '3652729',
 '3343090',
 '4647827',
 '5930691',
 '1686296',
 '5177655',
 'D166472',
 '9936767',
 '6964827',
 '9027778',
 '3232718',
 '3179627',
 '3191459',
 '6597963',
 '4869149',
 '5027837',
 '5910545',
 '7553121',
 '2833077',
 '6560746',
 '4534570',
 '2967153',
 '10649073',
 '3487644',
 '11113653',
 '2002/0017416',
 '3910898',
 '7440620',
 '3923033',
 '7503756',
 '7236875',
 '2733629',
 '1337303',
 'D246507',
 '75306',
 '5309628',
 '2001/0010021',
 '1812379',
 '20030217865',
 '1400672',
 '7752811',
 '8708135',
 'D883714',
 'D781554',
 '1012615',
 'D739165',
 '9272301',
 '10452729',
 '3539481',
 '2345891',
 '5525219',
 '4548289',
 '9558141',
 'D632900',
 '4871922',
 '4918640',
 'D532600',
 '10737249',
 '8458597',
 'D699734',
 'D181608',
 '5269842',
 '6729274',
 '10989005',
 'D98320',
 '5767537',
 '5696340',
 '2983053',
 '812490',
 'D822998',
 '5631579',
 'D770994',
 'D560928',
 '8572185',
 '2147615',
 '7106545',
 '7313248',
 '7105243',
 '9453281',
 'RE42982',
 '9436082',
 '6995688',
 '5480047',
 '4953724',
 'D637894',
 'D407084',
 'D774529',
 'D147917',
 '7796278',
 '6925198',
 '7732364',
 '2994311',
 '725746',
 '3386316',
 '7240955',
 '10869237',
 '7735444',
 '4533420',
 '9632269',
 '4771558',
 '9458143',
 '1906538',
 '1891961',
 '7420800',
 '888657',
 '9999604',
 '6746917',
 '3248307',
 '6003473',
 '1407464',
 '6465432',
 '9625225',
 'D237729',
 '8865649',
 '6949452',
 '6082619',
 '4118790',
 '2144569',
 '2991918',
 '2927649',
 '10726002',
 '3311894',
 '2631097',
 '4179022',
 '133733',
 '7085898',
 'D420281',
 '2986266',
 '4205676',
 '8220694',
 'D743354',
 '6276178',
 '6888326',
 '633863',
 '6494309',
 '2704225',
 '8838751',
 '4746979',
 '4118562',
 '7540471',
 'Re34817',
 '6030452',
 '5963949',
 '8302831',
 '8173479',
 '4616070',
 '6352808',
 '4786606',
 '8406580',
 '5344528',
 'RE35523',
 'D485398',
 '60312',
 '5637757',
 '5552576',
 '4829781',
 '10114891',
 '4440197',
 '2640750',
 '8401545',
 '9409038',
 '3691408',
 'D811358',
 '6325791',
 '3534855',
 '3265902',
 '11501116',
 '10157096',
 '3398844',
 '4125688',
 '11552223',
 '5269967',
 '5191797',
 '20020016272',
 '3570779',
 '2706669',
 '9439582',
 '6335480',
 '5675647',
 '8194372',
 '9886185',
 '3637252',
 '9021118',
 '8901579',
 '7614888',
 '7394427',
 '161617',
 '3757320',
 '6787600',
 'D305957',
 '6347197',
 '5550676',
 '10164792',
 '20030067278',
 '4964047',
 '10566232',
 '2197640',
 'D684148',
 '3088311',
 'D942167',
 '5238495',
 '9600332',
 '1551057',
 '6289088',
 '4215715',
 '1900382',
 '2572206',
 '4895466',
 'D803232',
 '9171937',
 'D492448',
 '7497646',
 '4357364',
 '4788713',
 '6610606',
 '7213865',
 'D244164',
 '5455430',
 '9231064',
 '7528502',
 '8178081',
 'PP11119',
 '4374037',
 '8539952',
 'D356323',
 '5295603',
 '3292746',
 '6941945',
 '9811505',
 '11559672',
 '8805526',
 '5138433',
 '6604914',
 '7349084',
 '4827233',
 '5587657',
 '7125782',
 '4863944',
 '948416',
 '8693344',
 '5617460',
 '7277719',
 '8888737',
 '7923653',
 '6803015',
 '5225055',
 '1245238',
 'D212414',
 '7445905',
 '6435084',
 '5138300',
 '3108381',
 '8776302',
 '5932841',
 '8328921',
 'D146100',
 '4266155',
 'D285980',
 '937712',
 '5946014',
 '7788513',
 'D881589',
 '1395897',
 '6443346',
 '8776026',
 '10907513',
 '5478236',
 '2940736',
 '9281892',
 '2447571',
 '972056',
 '7224675',
 '3410869',
 'D371136',
 'D109952',
 '7033520',
 '5883207',
 '11160204',
 '5207946',
 '10135802',
 '4822180',
 '6494279',
 'D130605',
 '2405316',
 '5287226',
 '2002/0033158',
 '6793760',
 '6366548',
 'D286121',
 '5084894',
 '6056409',
 '2844722',
 '5885843',
 '3412551',
 '3756894',
 '4173003',
 '7792998',
 '948741',
 '3751711',
 '5144363',
 '2448435',
 '9774446',
 '3006016',
 '641503',
 '2001/0022304',
 '1885814',
 '9072273',
 '9058413',
 '6512213',
 '6438590',
 '6142501',
 '9891213',
 '8398012',
 '5987935',
 '7769092',
 'D288753',
 '3464411',
 '6427658',
 '6887709',
 'D564746',
 '4478494',
 '6228727',
 '4323535',
 '4752975',
 '1948268',
 '1669782',
 '5809478',
 '9970996',
 '3481739',
 '9148717',
 '3603186',
 '6243807',
 '2821942',
 '5710240',
 '11410878',
 'D547690',
 '11593631',
 '4101964',
 '5267258',
 '4458201',
 '6110268',
 '4343830',
 '5962568',
 '1417228',
 '8801432',
 '5020738',
 '5172280',
 '2171216',
 '1667253',
 '2517580',
 'Re21617',
 '7997423',
 'D663694',
 '5715431',
 '4721466',
 'D1003368',
 '5432837',
 'D5055',
 '3209737',
 '3939765',
 '6204812',
 '4247016',
 'D108703',
 'D409239',
 '4554543',
 '7997933',
 '7122869',
 '3282171',
 '9450872',
 '5701426',
 '5802244',
 '6988920',
 'D262773',
 '6833110',
 '4276859',
 'D695472',
 '8237694',
 '7318673',
 '4590439',
 '6050909',
 'D742035',
 '9894809',
 '6385209',
 '6028699',
 '8030545',
 '8232924',
 'D312665',
 '1941690',
 '10145492',
 '2392797',
 '3796944',
 '2821496',
 '9918734',
 '5752930',
 '9166364',
 'D841103',
 '1950714',
 '9911067',
 '4138514',
 '2800787',
 '6200241',
 '11863729',
 '5705975',
 'D882234',
 '3187985',
 '3785334',
 '10867057',
 '2002/0133620',
 '7492600',
 '11513286',
 '7038664',
 '5382004',
 '7133530',
 'D943789',
 '2994376',
 '7026850',
 '5441072',
 '7905622',
 '9060581',
 '5890611',
 '7185882',
 '6844318',
 '9283774',
 '3540725',
 'D785207',
 '9809855',
 '9582562',
 '5538128',
 '6918847',
 '8757602',
 '1910589',
 '5672574',
 '922281',
 '6380207',
 '4707953',
 '7422950',
 '5311177',
 '2576838',
 '7197368',
 '4872575',
 '6610423',
 '10397948',
 '3457057',
 '5747989',
 '8991367',
 '7898844',
 '7246423',
 '2002/0092364',
 '6284855',
 '9079959',
 '5729240',
 '8401461',
 'D727877',
 '8540039',
 '3668018',
 '4921629',
 '2864073',
 '8084558',
 'D571317',
 '4495680',
 '2503255',
 '10408943',
 '8071528',
 '10408692',
 '3761513',
 '2682388',
 '6358068',
 '6867893',
 '1697526',
 '5573341',
 '6410740',
 '9406207',
 '7476921',
 '8848550',
 '8527428',
 '6116658',
 '8705595',
 '8059235',
 '8770143',
 '3912807',
 '8874491',
 '8669295',
 '9348266',
 '446287',
 'D37852',
 '5885432',
 '3477010',
 '2727078',
 '9209825',
 '2361242',
 '6370170',
 '9132655',
 '5424931',
 '5230138',
 '2902046',
 '5952442',
 '5203658',
 '1388242',
 '1252521',
 '5700367',
 '5741325',
 '8844110',
 '3553736',
 '8880721',
 '8715319',
 '4842377',
 '6450067',
 '4990988',
 '5650420',
 '4981672',
 '2110310',
 '5286494',
 '7607836',
 'D222035',
 '6886397',
 '7437890',
 'D458601',
 '6743117',
 '3572104',
 '4920989',
 '9102471',
 '11075098',
 '4554561',
 '3616685',
 '2284039',
 '391203',
 '5211994',
 '4977723',
 '8670751',
 '9003694',
 '7006415',
 '4542296',
 '3226138',
 '6456602',
 '7476055',
 '3854841',
 '5301081',
 '6767344',
 'D543778',
 '4031452',
 '1838714',
 '10524839',
 '3113038',
 'D496322',
 '3434897',
 '9777257',
 '9565847',
 '2002/0052374',
 'D719430',
 '8926797',
 '684416',
 '7105228',
 'D730314',
 'D287608',
 '7625749',
 '10651829',
 '5795014',
 '8905792',
 '9613530',
 '5466479',
 '6645000',
 '5167219',
 '4501559',
 '6127477',
 '1862548',
 '5866755',
 '8768579',
 '5157241',
 '7726584',
 '4195257',
 'X26',
 '8464009',
 '9276782',
 '2003/0149787',
 '8889774',
 '10319485',
 '20020095777',
 '6483397',
 '8284297',
 '6455554',
 'D589678',
 '4310086',
 '425896',
 '2332460',
 '4746016',
 '10319917',
 '9216344',
 '4325194',
 '2296631',
 '5835410',
 '1217076',
 '1595919',
 'D854867',
 '6332862',
 '5047536',
 '470845',
 '1768731',
 'D564289',
 '9552756',
 '2528829',
 '3185293',
 '1974400',
 '2336191',
 '912829',
 '8875506',
 '6096688',
 '5491641',
 '7433852',
 '2546309',
 '4498383',
 '7313965',
 '10406507',
 '4115375',
 '7810435',
 '8031203',
 '3437332',
 '4117961',
 '5919736',
 '4438704',
 '10980336',
 '6295785',
 '10851246',
 '4651667',
 '10668227',
 '6026878',
 '1968348',
 '2069753',
 '5875893',
 '5921125',
 '6930770',
 '8073031',
 '9171328',
 '2643622',
 '9141097',
 '6541915',
 'D412011',
 '8361340',
 '4727868',
 '7930042',
 '9249909',
 'D242525',
 'D575328',
 '3663083',
 '2673217',
 '9713585',
 '9139328',
 '7890329',
 '7325898',
 '9033606',
 '6725808',
 '5639767',
 '4177873',
 '2452188',
 '4005801',
 '4624623',
 '4870601',
 '2822346',
 '1342592',
 'D224902',
 'D360719',
 '2672933',
 '5276857',
 'D769633',
 '1629557',
 '3874190',
 '9419969',
 '11080775',
 '1724692',
 '5297756',
 '6707871',
 '2654698',
 '2330014',
 'D331212',
 '6535275',
 '2262644',
 '6069922',
 '4756648',
 '5463083',
 '6490208',
 '1150688',
 '5071694',
 '4030494',
 '9576555',
 '10953223',
 '6499958',
 '8404530',
 '5888395',
 '1654278',
 '10474576',
 '11041597',
 '2156443',
 '3766648',
 '10469412',
 '6696081',
 '3003298',
 'D488672',
 '7790578',
 '2308581',
 'D86505',
 '7596533',
 '5195410',
 '5282509',
 'D1003707',
 '6116375',
 '7876465',
 '11396774',
 '4773571',
 'D592115',
 '5741148',
 '9497114',
 '2683554',
 '6429703',
 '7915568',
 '6673673',
 '5948254',
 '5875432',
 '10047697',
 '3909630',
 '2001/0055121',
 'D529812',
 'D223359',
 '1324510',
 'D654897',
 '5064175',
 'D713421',
 '5135026',
 '10729483',
 '5789264',
 '4317263',
 '3646915',
 '76229',
 'D400752',
 '8577812',
 'PP9663',
 '4623028',
 '4405086',
 'RE28708',
 '5840767',
 '4110819',
 '4593214',
 'D972856',
 '6212600',
 '487432',
 'D293398',
 '4488364',
 '8538749',
 '7147481',
 '4215859',
 '6912671',
 '5896552',
 '11650004',
 '6183665',
 '1982083',
 '1850363',
 '6265653',
 '8457589',
 '5967279',
 '1507327',
 '8066171',
 '10252044',
 '3729553',
 '5428262',
 '7857368',
 '2913205',
 '1018874',
 '6231160',
 '5517560',
 'D757611',
 '5421175',
 '7000870',
 '7701496',
 '9223690',
 '8076472',
 '5742155',
 '4481214',
 '6495261',
 '6625194',
 '4168685',
 '355020',
 'D371684',
 'D505490',
 '6072208',
 '10651788',
 '2579451',
 '4988626',
 '9746513',
 '3960678',
 '5605823',
 'D499605',
 '8326605',
 '2823561',
 '6889350',
 '8124330',
 '4302870',
 'D548108',
 '7656473',
 '2153696',
 'D708855',
 '6997863',
 '9272764',
 '8835431',
 '3006820',
 '10025534',
 '8052964',
 '11386662',
 '3907652',
 '5569044',
 '708447',
 '1402589',
 '9651161',
 '1475105',
 '8373386',
 '1426938',
 '6342669',
 '1923777',
 '473960',
 '10671751',
 '5743317',
 '9967248',
 '6441978',
 '3301387',
 '7116620',
 'D360936',
 '9443306',
 '9595034',
 '4915164',
 '9884580',
 '563381',
 'D405112',
 '2936017',
 '6803282',
 '7084683',
 '4378501',
 '3347061',
 '3805925',
 '7682318',
 '6291829',
 '3483185',
 '3835929',
 '2319481',
 '4091461',
 '7737953',
 '4554582',
 '2972497',
 '6042620',
 '4590599',
 '11920504',
 '9763310',
 '8122870',
 '10675137',
 'D1010127',
 '5454144',
 '8914395',
 '4988999',
 '7539529',
 '20040091546',
 '5494079',
 '5701586',
 '8256519',
 '5045652',
 '4548297',
 '6016370',
 'D942896',
 '10727596',
 '5790393',
 'D37394',
 '952519',
 '3676096',
 '4135605',
 '3660278',
 '5905651',
 '3248224',
 '2850670',
 '3887541',
 '1786038',
 'D710875',
 '1575963',
 '9907850',
 '4556636',
 '4593880',
 '10248590',
 '5981611',
 '7771238',
 '8882425',
 ...}

In [15]:
len(citation_patent_ids)

8789386

In [16]:
df_year[2006]

,application_number,patent_number,publication_number,main_ipc,decision,is_in_patent_id
0,10513493,7648709,US20060110435A1-20060525,A61K39095,ACCEPTED,False
1,10520174,8138892,US20090219137A1-20090903,H04Q522,ACCEPTED,True
2,10526092,8139623,US20060099980A1-20060511,H04B700,ACCEPTED,True
3,10529231,7640195,US20060178956A1-20060810,G07F1900,ACCEPTED,True
4,10532323,7558262,US20060268873A1-20061130,H04L1256,ACCEPTED,True
...,...,...,...,...,...,...
995,11647147,7564254,US20080088333A1-20080417,G01R3126,ACCEPTED,True
996,11647274,8966270,US20080159299A1-20080703,H04L1256,ACCEPTED,True
997,11647383,None,US20080064277A1-20080313,B32B502,REJECTED,False
998,11648421,None,US20080157335A1-20080703,H01L2352,REJECTED,False
999,12157616,7818661,US20090282324A1-20091112,G06F1720,ACCEPTED,True

In [17]:
# Check if each 'patent_number' in df1 is in the set of patent_ids
for year in listYear:
    df_year[year]['patentNb_in_citaPatent_id'] = df_year[year]['patent_number'].apply(lambda x: x in citation_patent_ids)

In [18]:
# Check if each 'patent_number' in df1 is in the set of patent_ids
for year in listYear:
    df_year[year]['appNb_in_citaPatent_id'] = df_year[year]['application_number'].apply(lambda x: x in citation_patent_ids)

In [19]:
# Check if each 'patent_number' in df1 is in the set of patent_ids
for year in listYear:
    df_year[year]['pubNb_in_citaPatent_id'] = df_year[year]['publication_number'].apply(lambda x: x in citation_patent_ids)

In [42]:
df_year[2006]

,application_number,patent_number,publication_number,main_ipc,decision,is_in_patent_id,patentNb_in_citaPatent_id,appNb_in_citaPatent_id,pubNb_in_citaPatent_id
0,10513493,7648709,US20060110435A1-20060525,A61K39095,ACCEPTED,False,False,False,False
1,10520174,8138892,US20090219137A1-20090903,H04Q522,ACCEPTED,True,True,True,False
2,10526092,8139623,US20060099980A1-20060511,H04B700,ACCEPTED,True,True,True,False
3,10529231,7640195,US20060178956A1-20060810,G07F1900,ACCEPTED,True,True,True,False
4,10532323,7558262,US20060268873A1-20061130,H04L1256,ACCEPTED,True,True,False,False
...,...,...,...,...,...,...,...,...,...
995,11647147,7564254,US20080088333A1-20080417,G01R3126,ACCEPTED,True,True,False,False
996,11647274,8966270,US20080159299A1-20080703,H04L1256,ACCEPTED,True,True,False,False
997,11647383,None,US20080064277A1-20080313,B32B502,REJECTED,False,False,False,False
998,11648421,None,US20080157335A1-20080703,H01L2352,REJECTED,False,False,False,False
999,12157616,7818661,US20090282324A1-20091112,G06F1720,ACCEPTED,True,True,False,False

# Applied for patents

In [20]:
filename = "C:/Users/edgar/OneDrive/Bureau/Ecole/HEC/A24/BrevetNLP/citations_data/data/g_us_application_citation.tsv"

### patent_id

In [21]:
# Load only the first column (assuming column 0) without loading the full data
df = pd.read_csv(filename, sep='\t', usecols=[0])

In [22]:
patent_ids = set(df['patent_id'].astype(str))

In [25]:
# Initialize an empty dictionary to hold DataFrames
df_year = {}

# Iterate over the dictionary and create a DataFrame for each year
for year, data in citations_Year.items():
    # Create a DataFrame for the current year
    df_year[year] = pd.DataFrame(data)

In [ ]:
# Check if each 'patent_number' in df1 is in the set of patent_ids
for year in listYear:
    df_year[year]['is_in_patent_id'] = df_year[year]['patent_number'].apply(lambda x: x in patent_ids)

In [29]:
# Initialize a dictionary to hold the results
results = {}

# Process each year
for year in listYear:
    total_count = len(df_year[year])  # Total number of records for the year
    
    # Count occurrences of `is_in_patent_id` and `decision`
    is_in_patent_id_counter = Counter(df_year[year].is_in_patent_id)
    decision_counter = Counter(df_year[year].decision)
    is_in_patent_id_counter_ACCEPTED = Counter(df_year[year].is_in_patent_id[df_year[year].decision=="ACCEPTED"])

    # Calculate percentages for is_in_patent_id
    accepted_count = decision_counter.get("ACCEPTED", 0)
    not_accepted_count = total_count - accepted_count

    results[year] = {
        'in_CitationSource': is_in_patent_id_counter.get(True, 0),
        'not_in_CitationSource': is_in_patent_id_counter.get(False, 0),
        'in_CitationSource_percent': is_in_patent_id_counter.get(True, 0) / total_count * 100,

        'in_CitationSource_ACCEPTED': is_in_patent_id_counter_ACCEPTED.get(True, 0),
        'not_in_CitationSource_ACCEPTED': is_in_patent_id_counter_ACCEPTED.get(False, 0),
        'in_CitationSource_percent_ACCEPTED': is_in_patent_id_counter_ACCEPTED.get(True, 0) / (is_in_patent_id_counter_ACCEPTED.get(True, 0)+is_in_patent_id_counter_ACCEPTED.get(False, 0)) * 100,

        # 'is_in_patent_id_False_percent': is_in_patent_id_counter.get(False, 0) / total_count * 100,

        'accepted_count': accepted_count,
        'rejected_count': decision_counter.get("REJECTED", 0),
        # 'rejected_percent': decision_counter.get("REJECTED", 0) / total_count * 100,
        'pending_count': decision_counter.get("PENDING", 0),
        # 'pending_percent': decision_counter.get("PENDING", 0) / total_count * 100,
        'accepted_percent': accepted_count / total_count * 100,
    }

# Convert the results dictionary into a DataFrame
results_df = pd.DataFrame.from_dict(results, orient='index')

# Optional: Reset index for better formatting
results_df.reset_index(inplace=True)
results_df.rename(columns={'index': 'Year'}, inplace=True)

# Display the results DataFrame
results_df

,Year,in_CitationSource,not_in_CitationSource,in_CitationSource_percent,in_CitationSource_ACCEPTED,not_in_CitationSource_ACCEPTED,in_CitationSource_percent_ACCEPTED,accepted_count,rejected_count,pending_count,accepted_percent
0,2006,473,527,47.3,473,143,76.785714,616,381,3,61.6
1,2007,484,516,48.4,484,124,79.605263,608,387,5,60.8
2,2008,510,490,51.0,510,136,78.947368,646,348,6,64.6
3,2009,570,430,57.0,570,98,85.329341,668,327,5,66.8
4,2010,573,427,57.3,573,90,86.425339,663,322,15,66.3
5,2011,621,379,62.1,621,75,89.224138,696,284,20,69.6
6,2012,587,413,58.7,587,76,88.536953,663,302,35,66.3
7,2013,634,366,63.4,634,49,92.825769,683,271,46,68.3
8,2014,547,453,54.7,547,50,91.624791,597,261,142,59.7
9,2015,511,489,51.1,511,46,91.741472,557,162,281,55.7
10,2016,273,727,27.3,273,16,94.463668,289,57,654,28.9